<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethospital.base.dao.CaseDao">
    <select id="select" parameterType="String" resultType="base.model.CaseInfo">
         select case_id as caseId,case_name as caseName,case_type as caseType,jc_name as jcName,jc_pic as jcPic,
        check_name as checkName,check_pic as checkPic,result as result,treat_text as treatText,treat_video as treatVideo,
        medicine_id as medicineId,labwork_id as labworkId,vaccine_id as vaccineId,stay_days as stayDays
        from tb_case where case_name like#{caseName}
    </select>

    <insert id="insert" parameterType="base.model.CaseInfo" useGeneratedKeys="true"
            keyProperty="case_id">
        insert into tb_case(case_name,case_type,jc_name,jc_pic,check_name,check_pic,result,treat_text,treat_video,medicine_id,labwork_id,vaccine_id,stay_days)
        values(#{caseName},#{caseType},#{jcName},#{jcPic},#{checkName},#{checkPic},
        #{result},#{treatText},#{treatVideo},#{medicineId},#{labworkId},#{vaccineId},#{stayDays})
    </insert>

    <delete id="delete" parameterType="base.model.CaseInfo" >
        delete from tb_case where case_name=#{caseName}
    </delete>

    <update id="update" parameterType="base.model.CaseInfo">
        update tb_case set case_name=#{caseName},case_type=#{caseType},jc_name=#{jcName},jc_pic=#{jcPic},
          check_name=#{checkName},check_pic=#{checkPic},result=#{result},treat_text=#{treatText},treat_video=#{treatVideo},
          medicine_id=#{medicineId},labwork_id=#{labworkId},vaccine_id=#{vaccineId},stay_days=#{stayDays} where case_name=#{caseName}
    </update>

    <select id="selectAll"  resultType="base.model.CaseInfo">
        select case_id as caseId,case_name as caseName,case_type as caseType,jc_name as jcName,jc_pic as jcPic,
        check_name as checkName,check_pic as checkPic,result as result,treat_text as treatText,treat_video as treatVideo,
        medicine_id as medicineId,labwork_id as labworkId,vaccine_id as vaccineId,stay_days as stayDays
        from tb_case
    </select>
    <select id="cost" parameterType="String" resultType="String">
        SELECT tb_medicine.cost + tb_labwork.cost + tb_vaccine.cost from tb_case left join tb_medicine on tb_case.medicine_id=tb_medicine.medicine_id
        left join tb_labwork on tb_case.labwork_id=tb_labwork.labwork_id left join tb_vaccine on
        tb_case.vaccine_id=tb_vaccine.vaccine_id where tb_case.case_name=#{caseName}
    </select>
</mapper>