<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethospital.base.dao.UserDao">
    <insert id="insertUser" parameterType="base.model.UserInfo" useGeneratedKeys="true"
            keyProperty="user_id">
    insert into tb_user(user_name, password, label_type)
    values(#{user_name,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{label_type,jdbcType=VARCHAR});
  </insert>
</mapper>