<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
  <link rel="stylesheet" type="text/css" src="../static/css/layout.css"
        th:src="@{/css/layout.css}"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="../static/js/jquery.2.1.1.min.js" th:src="@{/js/jquery.2.1.1.min.js}"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/js/http-request.js" th:src="@{/js/http-request.js}"></script>
  <script>
    function rowWrapper(content) {
      return '<div class="row media">' + content + '</div>';
    }

    function video(src) {
      return '<video class="col-sm-11" controls="controls">' + '<source src="' + src
          + '" type="video/ogg"/>' + '</video> '
    }

    function picture(src) {
      return '<img class="col-sm-11" src="' + src + '"></img>';
    }

    function appendText(body, value) {
      $.ajax({
        url: recordUrl(value),
        type: "GET",
        data: null,
        processData: false,
        contentType: false,
        success: function (response) {
          body.append(rowWrapper(text(value.description, response)));
        }
      });
    }

    function text(title, content) {
      return '<h2>' + title + '</h2>' + '<p class="lead">' + content + '</p>';
    }
  </script>

  <script>
    $(document).ready(function () {
      var path = location.href;
      $.ajax({
        url: '/article' + path.slice(path.indexOf('/', path.indexOf('view')), path.length),
        type: "GET",
        data: null,
        processData: false,
        cache: false,
        contentType: false
      }).done(function (response) {
        if (response.code != '100001') {
          alert("Error response code");
          return;
        }
        constructBody(response.result);
      })
    });

    function constructBody(result) {
      var body = $('.article-body');
      result.forEach(function (value) {
        if (category(value.contentType) === 'video') {
          body.append(rowWrapper(video(recordUrl(value))));
        } else if (category(value.contentType) === 'image') {
          body.append(rowWrapper(picture(recordUrl(value))));
        } else if (category(value.contentType) === 'text') {
          appendText(body, value);
        }
      });
    }

    function recordUrl(value) {
      return '/record/' + value.createdTime + '/' + value.rand + '/' + value.sequence
          + '?contentType=' + value.contentType;
    }

    function category(contentType) {
      if (contentType.indexOf("application") === 0) {
        return 'video';
      } else if (contentType.indexOf("image") === 0) {
        return "image";
      } else if (contentType.indexOf("text") === 0) {
        return "text";
      } else {
        return "unknown";
      }
    }
  </script>
</head>
<body>
<div class="article-body" style="position: relative;">
</div>
</body>
</html>