<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" src="../static/css/layout.css"
        th:src="@{/css/layout.css}"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="../static/js/jquery.2.1.1.min.js" th:src="@{/js/jquery.2.1.1.min.js}"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/js/article-view.js" th:src="@{/js/article-view.js}"></script>
  <title>Pet Hospital</title>

  <script>
    function init() {
      $.ajax({
        url: '/disease/categorylist',
        type: 'GET',
        async: false,
        success: function (res) {
          if (res.code != '100001') {
            alert("Error response code");
            return;
          }
          res.result.forEach(function (value) {
            $.ajax({
              url: '/disease/category?category=' + value,
              type: 'GET',
              async: false,
              success: function (response) {
                if (response.code != '100001') {
                  alert("Error response code");
                  return;
                }
                $('.category-list').append(constructCategoryList(value, response.result));
              }
            })
          });
        }
      });
      constructArticle($('.category-list').find('.category-item').first().find('a').attr('value'));
    }

    function constructCategoryList(category, list) {
      var result = '';
      list.forEach(function (value) {
        result += categoryItem(value);
      });
      result = categoryListWrapper(result);
      return categoryHeaderWrapper(category) + result;
    }

    function categoryHeaderWrapper(header) {
      return '<div class="panel-heading">' + header + '</div>';
    }

    function categoryListWrapper(content) {
      return '<ul class="list-group">' + content + '</ul>';
    }

    function categoryItem(value) {
      return '<li class="list-group-item category-item"><a value="' + value.id
          + '">' + value.name+ '</a></li>';
    }

    function constructArticle(id) {
      $.ajax({
        url: '/cases/article/' + id,
        type: 'GET',
        success: function (res) {
          if (res.code != '100001') {
            alert("Error response code");
            return;
          }
          $.ajax({
            url: '/article/' + res.result[0].createdTime + '/' + res.result[0].rand,
            type: 'GET',
            success: function (response) {
              if (response.code != '100001') {
                alert("Error response code");
                return;
              }
              constructBody(response.result);
            }
          })
        }
      })
    }
  </script>

  <script>
    $(document).ready(function () {
      init();
    });

    $(document).on("click", '.category-item', function () {
      constructArticle($(this).find('a').attr('value'));
    });
  </script>
</head>
<body>
<div th:replace="header::header"/>
<div th:fragment="demo" class="container pull-left col-sm-2">
  <div class="panel panel-default category-list">
  </div>
</div>

<div class="container col-sm-8">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Center Area</div>
      <div style="width:100%;height:800px">
        <div class="article-body" style="position: relative;">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>